body#login-page {
  .intake-page;
  #social-login,
  #local-login {
    .landing-page-form;
    text-align: center;
    margin-top: 100px;
    button {
      display: inline-block;
      float: none;
      margin-left: 10px;
      color: #7a7f80;
      font-size: 14px;
      text-decoration: none;
      line-height: 22px;
      i {
        font-size: 20px;
        padding-right: 6px;
        line-height: 22px;
      }
    }
  }
  #local-login {
    .local-auth-form;
    margin-top: 25px;
  }
}

@media (max-width: @navbarCollapseWidth) {

  #social-login {
    width: 245px;
    margin: 140px auto;
    padding: 40px 20px 40px 20px;

    p {
      background-image: none;
    }

    input[type="text"],
    input[type="password"] {
      width: 200px;
      margin-bottom: 18px;
      font-size: 12px;
    }
  }
}
